:root {
    --color-primary: #08a6e4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --button-radius: 35px;
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

/* General Settings */

.container {                        /* contains logo and navBar, has specific width [px]! */
    width: 1352px;
    margin: 0 auto;

}
/* Header */ /* header has to be 100% of screen width => it means = 100% */

.logo {
    font-size: 2em;
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-weight: normal;
}

header {
    height: 70px;
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
}
.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navBar {
    display: flex;
}
.navBar-element {
    padding: 0 30px;
}
.navBar-link {
    font-size: .6875em;
    text-transform: uppercase;
    letter-spacing: .6rem;                      /* default is 2px */
    padding: 28px 20px 20px;
    border-bottom: transparent 4px solid;       /* bottom bar added with a  border (border-bottom) */
    font-weight: bold;
}
.navBar-link:link {
    color: var(--color-grey);
}
.navBar-link:visited {
    color: var(--color-grey);
}
.navBar-link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}
.navBar-link:active {
    color: var(--color-primary);
    border-color: var(--color-primary);
}





