:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55dfb4;
    --color-black: #000000;
    --color-grey: #a5a5a5;
    --color-light-grey: #f7f7f7;
    --color-white: #ffffff;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
    --button-radius: 35px;
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

/* General Settings */

.container {                        /* contains logo and navBar, has specific width [px]! */
    width: 1352px;
    margin: 0 auto;

}
/* HEADER */                        /* header has to be 100% of screen width => it means = 100% */

.logo {
    font-size: 2em;
    color: var(--color-primary);
    font-family: var(--font-raleway);
    font-weight: normal;
    padding-left: 50px;
}

header {
    height: 70px;
    width: 100%;
    box-shadow: 0 3px 6px #00000029;
}
.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navBar {
    display: flex;
}
.navBar-element {
    padding: 0 30px;
}
.navBar-link {
    font-size: .6875em;
    text-transform: uppercase;
    letter-spacing: .6rem;                      /* default is 2px */
    padding: 28px 20px 20px;
    border-bottom: transparent 4px solid;       /* bottom bar added with a border (border-bottom) */
    font-weight: bold;
}
.navBar-link:link {
    color: var(--color-grey);
}
.navBar-link:visited {
    color: var(--color-grey);
}
.navBar-link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);        /* border (border-bottom) after 'hover' action changes color to blue */
}
.navBar-link:active {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

/* MAIN */

/* Opening section */

.opening-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.opening-container {
    text-align: center;
    margin-top: 120px;
}
.opening-header {
    font-family: var(--font-raleway);
    font-weight: normal;
    font-size: 3.0652rem;
}
.opening-txt {
    margin: 35px 0 45px 0;
}
.opening-img {
    max-width: 1735px;
    width: 100%;
}
/* Button */

.btn {
    font-family: var(--font-open-sans);
    font-weight: bold;
    border: none;
    border-radius: var(--button-radius);
    display: inline-flex;                             /* inline-block or inline-flex is important for a button */
}
.btn-big {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
    padding: 15px 100px;
}
.btn-big:hover {
    background-color: var(--color-redish);
    transition: 200ms;

}
/* statistics section */

.statistic-container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 100%;
    margin: 100px auto;
}
.statistic-title {
    text-align: center;
    font-family: var(--font-raleway);
    color: var(--color-black);
    font-size: 2.25rem;
}
.statistics {
    margin: 100px 0;
}
.statistics-column {
    max-width: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.statistic-circle {
    border-radius: 50%;
    height: 62px;
    width: 62px;
    position: relative;
}
.sts-img {
    position: absolute;
}
.statistic-number {
    color: var(--color-black);
    font-family: var(--font-raleway);
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: .3750em;                        /* default font size is 16px. In project there is 6px of letter spacing for this number */
    margin: 15px 0;
    line-height: 24px;
}
.statistic-txt {
    color: var(--color-grey);
    font-family: var(--font-raleway);
    line-height: 19px;
}
.statistics-column:nth-child(1) .statistic-circle {          /* i choiced a circle in the 1st of 3 available classes .statistics-column */
    background-color: var(--color-redish);
}
.statistics-column:nth-child(2) .statistic-circle {
    background-color: var(--color-primary);
}
.statistics-column:nth-child(2) .sts-img {               /* i choiced an image in the 2nd of 3 available .statistics-column */
    position: absolute;
    top: 10px;
}
.statistics-column:nth-child(3) .statistic-circle {
    background-color: var(--color-green);
}
.statistics-column:nth-child(3) .sts-img {
    position: absolute;
    top: 7px;
}
/* benefits section */

.benefits {
    background-color: var(--color-light-grey);

}
.benefits-container {
    padding: 105px 100px;

}
.benefit1 {
    background-color: var(--color-white);
    border: 1px solid var(--color-light-grey);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;


}
.benefit-txt-section {
    text-align: left;
    max-width: 416px;
    box-sizing: content-box;
    margin: 90px 35px;
}
.benefit-txt {
    font-family: var(--font-open-sans);
    line-height: 1.375em;
    margin-top: 30px;
}
.benefit-title {
    font-family: var(--font-raleway);
    font-size: 2.25em;

}
.benefit-txt::after {                             /* create pseudoelement after the text */
    content:"";
    width: 328px;
    height: 4px;
    background-color: var(--pseudoel-color);      /* create general variable for the color of this pseudoelement */
    display: block;
    margin-top: 50px;
}
.benefit-comp {
    --pseudoel-color: var(--color-redish);       /* assign the value of color to the first column - I use the hoisting and casscading feature*/

}
.benefit-phone {
    --pseudoel-color: var(--color-primary);
    flex-direction: row-reverse;
}
.benefit-col {
    --pseudoel-color: var(--color-green);
    max-width: 700px;
}
.benefit-txt-section {
    max-width: none;
}
.benefit2 {
    display: flex;
}
.benefit-orange {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    margin-left: 40px;
    flex:1;
}
.benefit-orange img {
    width: 300px;
    padding-top: 30px;
}
/* Benefit section - pseudoelements background for images */
        /* computer image pseudoelement */
.benefit-comp .benefit-img::before {
    content: "";
    width: 180px;
    height: 180px;
    position: absolute;
    background-color: var(--color-redish);
    border-radius: 40px;
    transform: rotate(45deg);
    right: 0;
    top: -50px;
}
.benefit-comp .benefit-img {
    margin: 0 110px 40px 0;
    position: relative;
}
.benefit-comp .benefit-img img {
    width: 386px;
    position: relative;
}
.benefit-img img {
    position: relative;
    z-index: 1;
}
        /* phone pseudoelement */

.benefit-phone .benefit-img::before {
    content: "";
    width: 320px;
    height: 320px;
    position: absolute;
    background-color: var(--color-primary);
    border-radius: 50%;
    left: 0;
    top: -20px;
}
.benefit-phone .benefit-img img {
    width: 426px;
    padding: 20px;
}
.benefit-phone .benefit-img {
    margin: 30px 70px;
    position: relative;
}






    /* Footer */
footer {
    box-shadow: 0 -5px 40px #00000029;
    background-color: var(--color-light-grey);
    padding: 25px 0;
    max-height: 89px;
    width: 100%;
    height: 100%;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-txt {
    display: flex;
    flex-direction: column;
}
.footer-info {
    color: var(--color-grey);
    line-height: .935em;
    font-family: var(--font-open-sans);
    font-size: .6875em;
    margin: 10px 0;
    padding-left: 50px;
}
.footer-icons {
    padding-right: 50px;
}
.footer-icons a {
    margin: 0 5px;
}
